<div class="container">
    <center>
        <p><strong>Too lazy to make anything? Heres a couple of bakeries that have great desserts!</strong></p>
    </center>
</div>
<div class="container">
    <div class="row">
        <div claas="col-md-12">
            <div class="col-md-6 " ng-repeat="data in linksCtrl.links">
                <h3>{{data.Title}}</h3>
                <a href="{{linksCtrl.baseUrl}}{{data.Url}}">Check this out!</a>
                <br />
                <button class="btn-sm pull-right" ng-click="linksCtrl.saveLinks(data)">Save link!</button>
                <p>_______________________________________________________________</p>
            </div>
        </div>
    </div>
</div>
